.container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	background-color: inherit;
	height: 600px;
	color: green;
}

.nameField {
	width: 50%;
	padding: 20px;
}

.emailField {
	width: 50%;
	padding: 20px;
}

.messageField {
	width: 80%;
}